.wrapper {
    display: flex;
    height: 100%;
    align-items: flex-start;
}

//.container {
//    max-width: 980px;
//    margin: 0 auto;
//}

.game {
    width: 100%;
    position: relative;
    &__start {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
    }

    &__board {
        background-image: url('resources/img/table_without_borders.png');
        background-position: center;
        background-size: cover;
        position: relative;
        width: 100%;
        height: 100vh;

        &__started {
            background-image: url('resources/img/table_without_borders.png');
            background-position: center;
            background-size: cover;
            position: relative;
            width: 100%;
            height: calc(100vh - 126px);
        }
    }
}
