.game-history {
    background-color: #F6DBBE;
    font-size: 25px;
    width: 100%;
    position: absolute;
    height: 80px;
    border-top: 5px solid #8D6A4C;
    border-bottom: 5px solid #8D6A4C;
    &_open {
        top: auto;
        bottom: 35px;
        height: 75%;
    }
    &__table {
        width: 100%;
        th {
            text-align: left;
        }
    }
    &__table-open {
        background-color: #8D6A4C;
        position: absolute;
        right: 5px;
        bottom: 22px;
        width: 36px;
        height: 36px;
        padding: 0;
    }
    tbody {
        max-height: 50vh;
        overflow: auto;
    }
}
