.game-final-result {
    display: flex;
    border: 5px solid #8D6A4C;
    background-color: #F6DBBE;
    padding: 3px;
    font-size: 25px;
    width: 100%;
    p {
        padding-right: 14px;
        margin: 0;
    }
}