.rival-gropup {
    padding-top: 32px;
    width: 100%;
    text-align: center;
    .button {
        &:hover {
            transform: none;
        }
        &_active {
            transform: translateY(20px);
        }
    }
}